
/*STYLING FOR THE MASTERMIND BOARD GAME*/


/*Default styling for devices below 800px*/


.body-content {
	height: 100vh;
	background: #232222;
	display: grid;
	/*grid-template-rows: 5% 95%;*/
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	margin: 0 auto;
	background-position: top;
	background-size: 205%;
	background-repeat-x: no-repeat;
	background-position-x: -412px;
	
	background: url("../images/01_Background_maroon.jpg");
	background-position: top;
	background-size: 97%;
	background-repeat-x: repeat;
	background-position-x: -380px;
}


.top-section {
	grid-column: 1;
	grid-row: 1;
	/*grid-template-columns: 20% 80%;*/
	height: 100%;
	color: wheat;
	text-align:center;
	font-size: 1em;
}


.title-text {
	font-size: 1em;
}


.text-box {
	width: 75%;
	text-align: center;
	margin: 6% auto;
	margin-top: 0;
	font-size: 3vmin;
	color: wheat;
	font-weight: bold;
	letter-spacing: 0.1em;
}


.text-content {
	margin: auto;
}

canvas {
	border: 0px solid #0b0b0c;
	grid-row: 1;
	grid-column: 1;
	background: #191818;
	margin: auto;
	background-image: url("../images/01_Background_small.png");
	background-size: 192% 100%;
	background-size: 200% 150%;
	background-position: 76%;
	z-index: 0;
}

#game-bottom {
	z-index: 0;
	box-shadow: 1px -1px 20px 12px #000000;
}

#game-player {
	background: none;
	z-index: 1;
}

#back-dialog {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	flex-direction: column;
	justify-content: space-evenly;
}

.back-pop-up {
	margin: auto;
	background: #3c0203f5;
	border-radius: 10px;
	z-index: 2;
}

.nav-link {
	text-decoration: none;
	width: 40%;
	margin: 0 auto;
}


.menu-title {
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	max-width: 160px;
	padding: 9% 0%;
	font-size: 2.6vmin;
	letter-spacing: 0.4em;
	color: wheat;
	font-weight: bold;
	border-radius: 6px;
	/*opacity: 0;*/
	box-shadow: 6px 3px 12px 5px #4c0106;
	background: #151515cc;
	background: linear-gradient(to left, black 50%, #800d0f 50%);
	background-size: 200% 100%;
	background-position: left bottom;
	transition: all .4s ease-in;
}

.menu-title:hover, .menu-title:focus {
	background-position: right bottom;
	outline: 0;
}

.selection-options {
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
}

.load-item {
	opacity: 0;
	animation-name: grow-fade-reduce;
	animation-duration: 800ms;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}





@media screen and (min-width: 801px) {
	.top-section {
		height: fit-content;
		color: wheat;
		text-align:center;
		font-size: 1em;
	}

	.title-text {
		font-size: 1em;
	}

	.text-box {
		margin: 5% auto;
		font-size: 1.4em;
	}

	.text-content {
		line-height: 1.2em;
	}

	.menu-title {
		font-size: 1em;
		letter-spacing: 0.8em;
		padding: 8% 3%;
	}

	.selection-options {
		margin-bottom: 5%;
	}

}



@keyframes grow-fade-reduce {
	0% { 
		transform:scale(0.5); 
	 	opacity:0.0; 
	}

	80% {
		transform: scale(1.08);
	}

    100% {
    	transform:scale(1.0); 
    	opacity:1.0; 
    }
}
