/*

CSS FOR MAIN GAME PAGE.

*/


/*DEFAULT VALUES*/

/*@import url('https://fonts.googleapis.com/css?family=Livvic:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,600&display=swap');*/

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,600|Livvic&display=swap');

.body-content{
	height: 100vh;
	margin: 0;
	overflow: none;
	font-family: 'Livvic', sans-serif;
	font-family: 'Libre Franklin', sans-serif;
}

.page-content {
	background: #710b0d;
	display: grid;
	height: 100%;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 15% 64% 15%;
	grid-row-gap: 3%;
	background-image : url("../images/01_Background_maroon.jpg");
	background-position: 40% 90%;
	background-size: 150%;
	margin: 0;
}

/*New top section version*/
.top-section {
	grid-column: 2;
	grid-row: 1;
	margin: 2% auto;
	position: relative;
	top: 3vh;
}

.content-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 0;
	grid-column: 2;
	grid-row: 2;
	border: 1px solid #320001;
	box-shadow: inset 0px 6px 18px 11px #2b0203;
	border-bottom: 2px solid #340001;
	color: wheat;
}

.game-title {
	height: 9vmin;
	width: auto;
}

.nav-link {
	text-decoration: none;
	width: fit-content;
	margin: 0 auto;
}

.menu-title {
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	width: 30vw;
	max-width: 500px;
	padding: 10% 2%;
	font-size: 2vw;
	letter-spacing: 0.9vw;
	color: wheat;
	font-weight: 400;
	border-radius: 6px;
	box-shadow: 6px 3px 12px 5px #4c0106;
	background: #151515cc;
	background: linear-gradient(to left, black 50%, #800d0f 50%);
	background-size: 200% 100%;
	background-position: left bottom;
	transition: all .4s ease-in;
}

.menu-title:hover, .menu-title:focus {
	background-position: right bottom;
	outline: 0;
}

#board-select-pg {
	display: none;
}

#instructions-pg {
	display: none;
}

#about-pg {
	display: none;
}

.load-item {
	opacity: 0;
	animation-name: grow-fade-reduce;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.page-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.8em;
}

.text-box {
	width: 85%;
	text-align: center;
	margin: 0% auto;
	font-size: 1.2em;
	font-family: 'Livvic', sans-serif;
}

.list-items {
	list-style: none;
	width: 90%;
	margin: auto;
	padding-left: 0px;
	padding-inline-start: 10px;
}

.list-items .list-row{
	display: inline-grid;
	grid-template-columns: 15% 80%;
	grid-column-gap: 5%;
	margin: 2% auto;
}

.list-row span {
	text-align: left;
	margin: auto;
}

.game-icon {
	width: 80%;
	max-width: 50px;
	height: auto;
	margin: auto;
}


/*Footer general styling*/
.footer-content {
	grid-column: 2;
	grid-row: 3;
	height: 98%;
}

.information {
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 1.2em;
    color: wheat;
}

.footer-content .menu-title {
	width: 20vw;
	background: linear-gradient(to left, black 50%, #4c2a25 50%);
	background-size: 200% 100%;
}

.menu-title:hover, .menu-title:focus {
	background-position: right bottom;
	outline: 0;
}

.information {
	display: grid;
	grid-template-rows: 10% 40% 30%;
	grid-row-gap: 10%;
	width: 100%;
	height: 100%;
}

.other-links {
	grid-row: 1;
	width: fit-content;
	margin: auto;
}

.social-media {
	grid-row: 2;
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin: auto;
}

.person-info {
	grid-row: 3;
	margin: auto;
	margin-bottom: 1px;
}

.social-icon, .game-icon {
	filter: drop-shadow(7px 6px 3px #000);
}

.social-icon {
	width: 12vmin;
	max-width: 40px;
}

.social-link {
	text-decoration: none;
	display: block;
	opacity: 0.5;
}

.social-link:hover{
	opacity: 1;
}


/*Forced styles*/
#instructions-pg .content-section {
	justify-content: center;
}

#about-pg .content-section {
	justify-content: space-around;
}

#instructions-pg .text-box {
	width: 90%;
}


/* General transitions*/
.toggle-item {
	opacity: 0;
	animation-name: fade-in;
	animation-duration: 2000ms;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

.onstart-load .top-transition {
	opacity: 0;
	animation-name: fade-in;
	animation-duration: 800ms;
	animation-delay: 5200ms;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

.onstart-load .load-transition {
	opacity: 0;
	animation-name: fade-in;
	animation-duration: 3500ms;
	animation-delay: 3000ms;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

.onstart-load .footer-content {
	grid-column: 2;
	grid-row: 3;

	opacity: 0;
	animation-name: fade-in;
	animation-duration: 2000ms;
	animation-delay: 5000ms;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}


.footer-content .toggle-item {
	animation-delay: 2000ms;
}

/* Loading animation timing delays */

.page-content .content-section .nav-link:nth-child(1) .load-item { animation-delay: 500ms }

.page-content .content-section .nav-link:nth-child(2) .load-item { animation-delay: 1000ms }

.page-content .content-section .nav-link:nth-child(3) .load-item { animation-delay: 1500ms }

.page-content .footer-content .load-item { animation-delay: 2000ms }




#main-pg.onstart-load .load-transition .nav-link:nth-child(1) .initial-load { animation-delay: 4000ms }

#main-pg.onstart-load .load-transition .nav-link:nth-child(2) .initial-load { animation-delay: 4500ms }

#main-pg.onstart-load .load-transition .nav-link:nth-child(3) .initial-load { animation-delay: 5000ms }


/* Unloading animations when navigating away*/

.unload .load-item{
  opacity: 1;
  animation-name: shrink-fade;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
}

.unload .toggle-item {
	opacity: 1;
	animation-name: fade-out;
	animation-duration: 1000ms;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	animation-delay: 400ms;
}

.unload .footer-content .other-links {
	opacity: 1;
	animation-name: fade-out;
	animation-duration: 1000ms;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	animation-delay: 800ms;
}

.unload .footer-content .social-media {
	opacity: 1;
	animation-name: fade-out;
	animation-duration: 1000ms;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	animation-delay: 800ms;
}

/* ANIMATIONS */

@keyframes title-movement {
	0% {
		position: relative;
		top: 40vh;
		opacity: 0;
	}

	40% {
		position: relative;
		top: 40vh;
		opacity: 0.6;
	}

	50% {
		position: relative;
		top: 40vh;
		opacity: 0.9;
	}

	80% {
		position: relative;
		opacity: 1;
	}

	100% {
		top: 3vh;
	}
}

@keyframes fade-in {
	0% { 
	 	opacity:0.0; 
	}

    100% {
    	opacity:1.0; 
    }
}

@keyframes fade-out {
	0% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.0;
	}
}

@keyframes grow-fade-reduce {
	0% { 
		transform:scale(0.5); 
	 	opacity:0.0; 
	}

	80% {
		transform: scale(1.08);
	}

    100% {
    	transform:scale(1.0); 
    	opacity:1.0; 
    }
}

@keyframes shrink-fade {
	0% { 
		transform:scale(1.0); 
	 	opacity: 1; 
	}

	40% {
		transform: scale(0.6);
		opacity: 0.2; 
	}

	60% {
		opacity: 0;
	}

    100% {
    	transform:scale(0.3); 
    	opacity: 0; 
    }
}

@keyframes grow-fade-in {
	0% { 
		transform:scale(0.0); 
	 	opacity:0.0; 
	}

    100% {
    	transform:scale(1.0); 
    	opacity:1.0; 
    }
}



/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
	.game-title {
		height: 9vmin;
		max-width: auto;
	}

	.page-content {
		background-position: 40% 90%;
		background-size: 150%;
		margin: auto;
	}

	.top-section {
		grid-column: 2;
		grid-row: 1;
		position: relative;
		top: 3vh;
		margin: 2% auto;
		margin-bottom: 0%;
	}

	.content-section {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-top: 0;
		grid-column: 2;
		grid-row: 2;
		border: 1px solid #320001;
		box-shadow: inset 0px 6px 18px 11px #2b0203;
		border-bottom: 2px solid #340001;
		color: wheat;
	}

	.menu-title {
		width: 30vw;
		max-width: 200px;
		padding: 10% 2%;
		font-size: 2vw;
		letter-spacing: 0.9vw;
	}

	.menu-title:hover, .menu-title:focus {
		background-position: right bottom;
		outline: 0;
	}

	.footer-content {
		font-size: 1.5vw;
		grid-column: 2;
		grid-row: 3;
	}

	.information {
	    text-align: center;
	    margin: auto;
	    width: 100%;
	    font-size: 2em;
	    font-size: 3.5vw;
	    color: wheat;
	}

	.page-title {
		text-align: center;
		text-transform: uppercase;
		font-size: 4vmin;
		margin: auto;
	}

	.text-box {
		font-size: 3.2vmin;
	}

	.footer-content .menu-title {
		width: 25vw;
	}

}



@media screen and (min-width: 601px) {
	/*Browsers larger than 600px*/
	.page-content {
		background-position: 40% 90%;
		background-size: 150%;
		background-position: 22%;
		background-size: 96% 100%;
	}

	.game-title {
		height: 9vmin;
		width: auto;
	}

	.top-section {
		margin: 0% auto;
		margin-bottom: 0%;
	}

	.content-section {
		width: 75%;
		margin: 0 auto;
	}

	.menu-title {
		width: 30vw;
		max-width: 220px;
		padding: 8% 0%;
		font-size: 2vmin;
		letter-spacing: 0.4vw;
	}

	.text-box {
		margin-bottom: 2%;
	}

	.information {
	    font-size: 2.5vmin;
	}

	.page-title {
		font-size: 3.5vmin;
		margin: auto;
	}

	.text-box {
		font-size: 2.5vmin;
	}

	.footer-content .menu-title {
		/*width: 25vw;*/
	}

}



@media screen and (min-width: 961px) {
	/*Browsers larger than 961px*/
	.page-content {
		background-position: 47%;
		background-size: 75% 100%;
		margin: auto;
	}

	.page-title {
		font-size: 3.2vmin;
		margin: auto;
	}

	.text-box {
		font-size: 2.7vmin;
		margin-bottom: 0%;
	}

	.menu-title {
		width: 30vw;
		max-width: 240px;
		padding: 9% 0%;
		font-size: 2vmin;
		letter-spacing: 0.4vw;
	}

	.footer-content .menu-title {
		width: 20vw;
		max-width: 200px;

	}

	.information {
	    font-size: 2.5vmin;
	}

}


@media screen and (min-width: 1201px) {
	/*Browsers larger than 1200px*/
	.page-content {
		background-position: 47%;
		background-size: 75% 100%;
		margin: auto;
	}

	.page-title {
		/*font-size: 2em;*/
		margin: auto;
	}

	.menu-title {
		/*font-size: 1.2em;*/
		letter-spacing: 0.2em;
	}

	.footer-content .menu-title {
		font-size: 0.8em;
	}

	.text-box {
		/*font-size: 1.4em;*/
		margin: 0% auto;
	}

	.information {
	    /*font-size: 1.6em;*/
	}
}


@media screen and (min-width: 2000px) {
	/*larger screens*/
}
