

@media (max-width: 800px) {
	.body-content {
		height: 100vh;
		/*position: fixed;*/
		background: #0b0b0c;
		/*background-image: url("../images/overview_background.png");*/
		display: grid;
		grid-template-rows: 5% 90% 5%;
		grid-template-columns: 5% 90% 5%;
		grid-row-gap: 1%;
		margin: 0 2%;
		background-position: top;
		background-size: 205%;
		background-repeat-x: no-repeat;
		background-position-x: -412px;
	}

	.top-section {
		grid-column: 2;
		grid-row: 1;
		grid-template-columns: 20% 80%;
		background: #131313;
		height: fit-content;
		color: wheat;
		text-align:center;
	}

	.left-side-panel {
		grid-column: 1;
		grid-row: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.right-side-panel {
		grid-column: 3;
		grid-row: 2;
	}
	
	canvas {
		border: 1px solid #0b0b0c;
		grid-row: 2;
		grid-column: 2;
		grid-column-start: 1;
		grid-column-end: 4;
		width: 520px;
		height: 890px;
		background: black;
		margin: auto;
		background-image: url("../images/overview_background.png");
		background-size: 192% 100%;
		background-size: 200% 150%;
		background-position: 76%;
		z-index: 0;
	}

	#game-bottom {
		width: 520px;
		height: 890px;
		z-index: 0;
	}


	#game-player {
		width: 520px;
		height: 890px;
		background: none;
		z-index: 1;
	}
}